* {
	box-sizing: border-box;
}

body {
    height: 100vh;
    display: flexbox;
    font-family: 'Russo One', sans-serif;
    background-color: whitesmoke;

}

header {
    justify-content: center;
    text-align: center;
    font-size: 6vmin;
    color: rgba(220, 20, 60, .86);
    text-shadow: -1px 1px whitesmoke, -2px 2px black;
}

h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgba(147, 51, 68, 0.86);
    text-shadow: -1px 1px whitesmoke, -2px 2px black;
    font-size: 3vmin;
}

#ice {
    display: grid;
    grid-template-columns: 1, 20vmin;
    grid-template-rows: 1, 20vmin;
    gap: 1vmin;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#ice > div {
    border-radius: 7%;
    border: double rgba(147, 51, 68, 0.86)
}