* {
    margin: 0;
    font-family: 'Russo One', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.86);

}

header {
    text-align: center;
    font-size: 6vmin;
    color: rgba(220, 20, 60, .86);
    text-shadow: -1px 1px whitesmoke, -2px 2px black;
    margin-top: 86px;
}

h3 {
    text-align: center;
    color: rgba(147, 51, 68, 0.86);
    text-shadow: -1px 1px whitesmoke, -2px 2px black;
    font-size: 3vmin;
    margin-bottom: 5px;
}

#scoreboard {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#p1-score {
    margin-right: 3vmin;
}

#c-score {
    margin-left: 3vmin;
}

/* The Period Countdown Clock */
#countdown {
    /* visibility: hidden; */
    height: 7vmin;
    width: 12vmin;
    border: 1vmin double rgb(245, 245, 245, .86);
    border-radius: 10%;
    font-size: 3vmin;
    padding: .5vmin 0 .5vmin 0;
    justify-self: center;
    align-self: center;
    color: bisque;
    text-shadow: -1px 1px rgba(127, 255, 0, .73);
    background-color: black;
}

/* FACE OFF (aka GAME START) BUTTON */

#faceOffButton {
    justify-content: center;
    align-items: center;
    background-color: rgba(172, 53, 77, 0.86);
    border: 4px double rgba(245, 245, 245, 0.73);
    border-radius: 10%;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    color: whitesmoke;
    text-shadow: -1px 1px black;
    margin-top: 10px;
    max-width: 25%;
}

#faceOffButton:hover {
    background-color: rgba(173, 106, 106, 0.86);
    color: bisque;
    transform: scale(1.1);
    transition: transform 142ms ease-in;
    border-color: rgba(48, 19, 19, 0.73)
}

/* Making The Ice look like the Ice */

#ice {
    display: grid;
    grid-template-columns: repeat(9, 12vmin);
    grid-template-rows: repeat(5, 12vmin);
    gap: 1vmin;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 20px;
    border-radius: 17.3%;
    border: 10px double rgba(147, 51, 68, 0.86);
    background-color: rgba(246, 247, 255, .86);
}

#ice div {
    cursor:grab;
}

#stickOne {
    display: flex;
    height: 15vmin;
    width: 15vmin;
    background-color: crimson;
    border-radius: 50%;
    border: .25vmin solid rgba(178, 34, 34, .86);
    position:absolute;
    top: 35vmin;
    left: 50vmin;
}

#stickTwo {
    display: flex;
    height: 15vmin;
    width: 15vmin;
    background-color: dodgerblue;
    border-radius: 50%;
    border: .25vmin solid rgba(0,0,173, 0.86);
    position: absolute;
    top: 75vmin;
    right: 50vmin;
}

/* The Puck  */

#puck {
    display: flex;
    grid-template-columns: repeat(1, 5vmin);
    height: 8vmin;
    width: 8vmin;
    border: 6px solid black;
    border-radius: 50%;
    background-color: black;
    position: absolute;
}

/* A PLAY AGAIN BUTTON  */

#playAgainButton {
    visibility: hidden;
    background-color: rgba(172, 53, 77, 0.86);
    border: 4px double rgba(245, 245, 245, 0.73);
    border-radius: 10%;
    font-family: 'Russo One', sans-serif;
    color: whitesmoke;
    text-shadow: -1px 1px black;
    margin-bottom: 60px;
    max-width: 25%;
}

#playAgainButton:hover {
    background-color: rgba(173, 106, 106, 0.86);
    color: bisque;
    transform: scale(1.17);
    transition: transform 142ms ease-in;
    border-color: rgba(48, 19, 19, 0.73)
}

/* //// MEDIA QUERY FOR TABLET //// */

@media (min-width: 768px) {
    * {
        color: rgba(194, 29, 62, 0.86);
        text-shadow: -1px 1px rgba(245, 245, 245, 1), -2px 2px black;
        font-size: 20px;
    }
}