* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Russo One', sans-serif;
    background-image: url('https://media.tenor.com/IrfZ5LGhnckAAAAC/letterkenny-boomtown.gif');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.86);

}

header {
    text-align: center;
    font-size: 6vmin;
    color: rgba(220, 20, 60, .86);
    text-shadow: -1px 1px whitesmoke, -2px 2px black;
}

h2 {
    text-align: center;
    color: rgba(147, 51, 68, 0.86);
    text-shadow: -1px 1px whitesmoke, -2px 2px black;
    font-size: 3vmin;
    margin-bottom: 5px;
}

/* FACE OFF (aka GAME START) BUTTON */

#faceOffButton {
    background-color: rgba(172, 53, 77, 0.86);
    border: 4px double rgba(245, 245, 245, 0.73);
    border-radius: 10%;
    font-family: 'Russo One', sans-serif;
    color: whitesmoke;
    margin-top: 10px;
    max-width: 25%;
}

#faceOffButton:hover {
    background-color: rgba(173, 106, 106, 0.86);
    color: bisque;
    transform: scale(1.11);
    transition: transform 142ms ease-in;
    border-color: rgba(48, 19, 19, 0.73)
}

/* Making The Ice look like the Ice */

#ice {
    display: grid;
    grid-template-columns: repeat(10, 8vmin);
    grid-template-rows: repeat(5, 10vmin);
    gap: 1vmin;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 30px 20px;
    border-radius: 17.3%;
    border: 10px double rgba(147, 51, 68, 0.86);
    background-color: rgba(246, 247, 255, .86);
}

#ice div {
    cursor: pointer;
}

/* The Puck  */

#puck {
    display: flex;
    grid-template-columns: repeat(1, 5vmin);
    height: 6.66vmin;
    width: 6.66vmin;
    border: 6px solid black;
    border-radius: 50%;
    background-color: black;
    top: calc(50% - 15px);
    left: calc(50% - 15%);
}


/* A PLAY AGAIN BUTTON  */

#playAgainButton {
    background-color: rgba(172, 53, 77, 0.86);
    border: 4px double rgba(245, 245, 245, 0.73);
    border-radius: 10%;
    font-family: 'Russo One', sans-serif;
    color: whitesmoke;
    margin-bottom: 60px;
    max-width: 25%;
}

#playAgainButton:hover {
    background-color: rgba(173, 106, 106, 0.86);
    color: bisque;
    transform: scale(1.11);
    transition: transform 142ms ease-in;
    border-color: rgba(48, 19, 19, 0.73)
}

/* //// MEDIA QUERY FOR TABLET //// */

@media (min-width: 768px) {
    * {
        color: rgba(220, 20, 60, .86);
        text-shadow: -1px 1px rgba(245, 245, 245, 1), -2px 2px black;
        font-size: 20px;
    }
}